{% extends 'base.html' %}

{% block title %}Cities{% endblock %}
{% block heading %}City Suggestions{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-6">
            <form method="POST">
                {% csrf_token %}
                <label for="Month">Month</label>
                <select name="Month" class="custom-select">
                    {% for month in months %}
                    <option value="{{month.val}}" {% if month.val == selected_month %} selected="selected" {% endif %}>{{month.name}}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="No_days">Number of days</label>
                <input type="number" name="No_days" value="{{No_days}}" class="form-control"><br>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
            {% if cities %}<h4 style="color: red;">Suggested Cities</h4>{% endif %}
            <ul>
            <div style="color:white">
                {% for city in cities %}
                <li><a href="{% url 'places' city.0 No_days %}">{{city.0}}</a>
                {% endfor %}
            </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}